
$grid-cols: 12;

@media(min-width:940px){
	@for $i from 1 through $grid-cols {
	  .col-lg-#{$i} {
	    float: left;
	    box-sizing: border-box;
	    width: percentage($i/$grid-cols);
	    padding: 0 1.5%;
	  }
	}

	// .col-lg-4{
	// 	background: blue;
	// }
}

@media(max-width: 940px){
	@for $i from 1 through $grid-cols {
		.col-md-#{$i} {
		float: left;
		box-sizing: border-box;
		width: percentage($i/$grid-cols);
		padding: 0 1.5%;
		}
	}
}

@media(max-width: 760px){
	@for $i from 1 through $grid-cols {
	  .col-sm-#{$i} {
	    float: left;
	    box-sizing: border-box;
	    width: percentage($i/$grid-cols);
	    padding: 0 1.5%;
	  }
	}
}