@import "normalize";
@import "modern-business";
body {
  h1 {
  }
}

$nav-height: 51px;
$nav-font-size: 16px;

@mixin clearfix() {
  &:after {
    content: " ";
    display: table;
    clear:both;
  }
}


.navbar {
  height: $nav-height;
  background: #eee;
  
  a {
    color: #ccc;
    font-size: $nav-font-size;
    line-height: $nav-height;
    text-decoration: none;
  }
}

.navbar-inverse {
  background: #333;
}

.navbar-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-header {
//  padding-top: $nav-height/2 - $nav-font-size/2;
  float: left;
  padding-left: 10px;
}

ul.nav {
  margin-top: 0;
  
  li {
    display:block;
    float: left;
    height: $nav-height;
    text-align: center;
    padding: 0 10px;
    &:hover {
      background-color: blue;
    }
  }

}

.img-responsive {
  width: 100%;
}

ul.navbar-right {
  float: right;
  margin-right: 10px;
}

.section:first-of-type {
  img {
    width: 100%;
  }
  padding: 0;
}

.row {
  @include clearfix();
}

// $grid-cols: 12;

// @for $i from 1 through $grid-cols {
//     .col-lg-#{$i} {
//       float: left;
//       box-sizing: border-box;
//       width: percentage($i/$grid-cols);
//       padding: 0 1.5%;
//     }
//   }

/* rest of shoestring.scss file */
 
@import "media-queries";



